# Backend
Backend/build/
Backend/.gradle/
Backend/src/main/resources/application.properties

# Frontend
Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/.angular/

# IDE files
.idea/
.vscode/
*.iml

# OS files
Thumbs.db
.DS_Store

# Logs
*.log

# Angular cache
Frontend/.angular/
node_modules/
dist/

*.zip